@model UISWeb.Models.CustomerRequest

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomerRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LabNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LabNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Received)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Received)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoadedMS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoadedMS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoadedFID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoadedFID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Progress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Progress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Invoiced)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Invoiced)
        </dd>
    </dl>
    <h4>Available Downloads</h4>
    <ul>
        @foreach (var report in @Model.Reports)
        {
            <li><a asp-action="Download" asp-route-link="@report.LinkName" asp-route-labno="@Model.LabNo">@report.FileName</a></li>
        }
    </ul>
</div>
<div>
    <!--<a asp-action="Edit" asp-route-id="@Model.LabNo">Edit</a> |-->
    <a asp-action="Index">Back to List</a>
</div>
