@model IEnumerable<UISWeb.Models.CustomerRequest>

@{
    ViewData["Title"] = "Request";
}

<h2>Request</h2>
<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
-->
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LabNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Received)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Detail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoadedMS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoadedFID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Progress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Invoiced)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LabNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Received)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadedMS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadedFID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoiced)
            </td>
            <td>
                <!--<a asp-action="Edit" asp-route-id="@item.LabNo">Edit</a> | -->
                <a asp-action="Details" asp-route-id="@item.LabNo">Download</a> 
                <!--<a asp-action="Delete" asp-route-id="@item.LabNo">Delete</a> -->
            </td>
        </tr>
}
    </tbody>
</table>
