@model IEnumerable<UISWeb.Models.Customer>

@{
    ViewData["Title"] = "Customer";
}

<h2>Customer</h2>
<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
-->
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ContactName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientId)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                <!--<a asp-action="Edit" asp-route-id="@item.Email">Edit</a> |-->
                <a asp-action="Details" asp-route-id="@item.Email">Manage</a>
                <!--<a asp-action="Delete" asp-route-id="@item.Email">Delete</a> -->
            </td>
        </tr>
}
    </tbody>
</table>
